@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
body {
  font-family: inherit;
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.28;
  font-size: 12px;
}
.xh8yej3 {
  width: 100%;
}

._61ve div {
  font-family: inherit;
}

._6nw._61ve div {
  font-family: inherit;
}

._3qn7 {
  display: flex;
}

._2fyi {
  flex-direction: row;
}

._61-0 {
  justify-content: flex-start;
}

._3qnf {
  align-items: flex-start;
}

.x5yr21d {
  height: 100%;
}

._61ve span {
  font-family: inherit;
}

._6nw._61ve span {
  font-family: inherit;
}

body {
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

body {
  overflow-y: scroll;
}

html {
  touch-action: manipulation;
}

:root {
  --hzFeaturedCardSpacing: 16px;
  --xkg63a2: calc(100vw - var(--hzFeaturedCardSpacing) * 2);
}

:root {
  --x1dflwya: var(--secondary-button-background);
  --xgcszl1: var(--button-height-medium);
}

@media (min-width: 1280px) {
  :root {
    --hzFeaturedCardSpacing: 32px;
  }
}

:root {
  --accent: hsl(214, 89%, 52%);
  --always-white: #ffffff;
  --always-dark-overlay: rgba(0, 0, 0, 0.4);
  --badge-background-color-blue: var(--accent);
  --badge-background-color-dark-gray: var(--secondary-icon);
  --badge-background-color-gray: var(--disabled-icon);
  --badge-background-color-green: var(--positive);
  --badge-background-color-light-blue: var(--highlight-bg);
  --badge-background-color-red: var(--notification-badge);
  --badge-background-color-yellow: var(--base-lemon);
  --base-lemon: #f7b928;
  --card-background: #ffffff;
  --disabled-button-background: #e4e6eb;
  --disabled-icon: #bcc0c4;
  --disabled-text: #bcc0c4;
  --focus-ring-blue: #1877f2;
  --highlight-bg: #e7f3ff;
  --inverse-text: var(--always-white);
  --media-inner-border: rgba(0, 0, 0, 0.1);
  --messenger-card-background: #ffffff;
  --mwp-header-background-color: var(--messenger-card-background);
  --mwp-header-button-color: var(--accent);
  --mwp-message-row-background: var(--messenger-card-background);
  --popover-card-background: var(--card-background);
  --negative: hsl(350, 87%, 55%);
  --notification-badge: #e41e3f;
  --placeholder-text: #65676b;
  --positive: #31a24c;
  --primary-icon: #050505;
  --secondary-button-background: #e4e6eb;
  --secondary-icon: #65676b;
  --secondary-text: #65676b;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-base: 0 1px 2px var(--shadow-2);
  --shadow-emphasis: 0 2px 12px var(--shadow-2);
  --input-background: #ffffff;
  --input-background-hover: var(--input-background);
  --input-background-warn-hover: hsla(
    var(--warning-h),
    var(--warning-s),
    var(--warning-l),
    0.05
  );
  --input-background-error-hover: hsla(
    var(--negative-h),
    var(--negative-s),
    var(--negative-l),
    0.05
  );
  --input-background-active: hsla(
    var(--accent-h),
    var(--accent-s),
    var(--accent-l),
    0.05
  );
  --input-background-warn-active: hsla(
    var(--warning-h),
    var(--warning-s),
    var(--warning-l),
    0.05
  );
  --input-background-error-active: hsla(
    var(--negative-h),
    var(--negative-s),
    var(--negative-l),
    0.05
  );
  --input-border-color-hover: var(--placeholder-text);
  --input-label-color-inside: var(--secondary-text);
  --input-label-color-error: var(--negative);
  --input-label-color-disabled: var(--disabled-text);
  --tooltip-box-shadow: 0 2px 4px 0 var(--shadow-5);
  --chat-outgoing-message-bubble-background-color: var(--accent);
  --radio-border-color: var(--primary-icon);
  --radio-border-color-disabled: var(--disabled-button-background);
  --radio-border-color-selected: var(--accent);
  --radio-checked-icon-color: var(--accent);
  --radio-checked-icon-color-disabled: var(--disabled-button-background);
  --button-height-medium: 36px;
  --card-box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  --menu-item-base-padding-horizontal: 8px;
  --menu-item-base-with-icon-padding-horizontal: var(
    --menu-item-base-padding-horizontal
  );
  --focus-ring-outline-link: 2px auto var(--focus-ring-blue);
  --focus-ring-shadow-default: 0 0 0 2px var(--always-white),
    0 0 0 4px var(--focus-ring-blue);
  --focus-ring-shadow-inset: 0 0 0 2px var(--focus-ring-blue) inset,
    0 0 0 4px var(--always-white) inset;
}

:root {
  --accent: rgb(8, 102, 255);
  --always-white: rgb(255, 255, 255);
  --card-background: rgb(255, 255, 255);
  --disabled-button-background: rgb(226, 229, 233);
  --disabled-icon: rgb(176, 179, 184);
  --disabled-text: rgb(176, 179, 184);
  --media-inner-border: rgba(0, 0, 0, 0.1);
  --negative: rgb(251, 60, 68);
  --notification-badge: rgb(221, 35, 52);
  --placeholder-text: rgb(101, 104, 108);
  --positive: rgb(49, 167, 59);
  --primary-icon: rgb(8, 8, 9);
  --secondary-button-background: rgb(226, 229, 233);
  --secondary-icon: rgb(101, 104, 108);
  --secondary-text: rgb(101, 104, 108);
}

.xeq5yr9 {
  width: fit-content;
}

.x1q0g3np {
  flex-direction: row;
}

.x1qughib {
  justify-content: space-between;
}

.x78zum5 {
  display: flex;
}

.xmn8rco {
  margin-left: 20px;
}

.xq8finb {
  margin-right: 12px;
}

.x14vqqas {
  margin-top: 12px;
}

.x1s1d1n7 {
  height: 35px;
}

.x2lwn1j {
  min-height: 0;
}

.xeuugli {
  min-width: 0;
}

.xod5an3 {
  margin-bottom: 12px;
}

._3-8j {
  margin: 12px;
}

._ww- {
  display: flex;
  flex-direction: column;
  height: inherit;
  position: relative;
}

.xixxii4 {
  position: fixed;
}

.xrsfl73 {
  right: 24px;
}

._ww_ {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  height: 100%;
}

.x1h4wwuj {
  word-wrap: normal;
}

.x1xlr1w8 {
  font-weight: 700;
}

.x1yc453h {
  text-align: start;
}

.x4hq6eo {
  color: rgba(0, 0, 0, 0.75);
}

.x8t9es0 {
  font-family: Roboto, Arial, sans-serif !important;
}

.xw3qccf {
  margin-right: 4px;
}

.xq9mrsl {
  white-space: inherit;
}

.x1cgboj8 {
  line-height: 1.2 !important;
}

.x1ldc4aq {
  font-size: 1.25rem !important;
}

.x1d52u69 {
  margin-left: 16px;
}

.xktsk01 {
  margin-right: 16px;
}

._agoq {
  flex: 1 1 auto;
  height: inherit;
}

._agot {
  padding: 16px;
}

.xdzyupr {
  width: 300px;
}

.x1pi30zi {
  padding-right: 16px;
}

.x1swvt13 {
  padding-left: 16px;
}

.x18d9i69 {
  padding-bottom: 0;
}

.xexx8yu {
  padding-top: 0;
}

.xw7yly9 {
  margin-top: 16px;
}

.x1jx94hy {
  background-color: var(--card-background);
}

._5hb9 {
  color: #929598;
  max-width: 600px;
  white-space: normal;
}

h3 {
  color: #1c1e21;
  font-size: 13px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

._5xay {
  color: #4b4f56;
  font-size: 20px;
  font-weight: normal;
  line-height: 1em;
}

._61ve h3 {
  font-family: inherit;
}

._6nw._61ve h3 {
  font-family: inherit;
}

._5hbv {
  font-size: 14px;
  line-height: 20px;
  padding-top: 12px;
}

.x1hl2dhg {
  text-decoration: none;
}

.xe8uvvx {
  list-style: none;
}

.x11i5rnm {
  margin-right: 0;
}

.x1ja2u2z {
  z-index: 0;
}

.x1mh8g0r {
  margin-left: 0;
}

.x1n2onr6 {
  position: relative;
}

.x1qjc9v5 {
  align-items: stretch;
}

.x1t137rt {
  outline-style: none;
}

.x1ypdohk {
  cursor: pointer;
}

.x26u7qi {
  border-left-style: solid;
}

.x2lah0s {
  flex-shrink: 0;
}

.x4uap5 {
  padding-right: 0;
}

.x9f619 {
  box-sizing: border-box;
}

.xcfux6l {
  border-right-width: 0;
}

.xdl72j9 {
  flex-basis: auto;
}

.xdt5ytf {
  flex-direction: column;
}

.xjbqb8w {
  background-color: transparent;
}

.xkhd6sd {
  padding-left: 0;
}

.xm0m39n {
  border-left-width: 0;
}

.xu3j5b3 {
  border-right-style: solid;
}

.x13fuv20 {
  border-top-style: solid;
}

.x1q0q8m5 {
  border-bottom-style: solid;
}

.x1qhh985 {
  border-bottom-width: 0;
}

.x972fbf {
  border-top-width: 0;
}

.xat24cr {
  margin-bottom: 0;
}

.xdj266r {
  margin-top: 0;
}

.x16tdsg8 {
  text-align: inherit;
}

.x1i10hfl {
  -webkit-tap-highlight-color: transparent;
}

.x2hbi6w {
  border-left-color: var(--always-dark-overlay);
}

.xa49m3k {
  border-right-color: var(--always-dark-overlay);
}

.xggy1nq {
  touch-action: manipulation;
}

.xjqpnuy {
  border-top-color: var(--always-dark-overlay);
}

.xqeqjp1 {
  border-bottom-color: var(--always-dark-overlay);
}

.x1fcty0u {
  font-weight: normal;
}

.x1heor9g {
  color: inherit;
}

.x1yztbdb {
  margin-bottom: 16px;
}

.x1hq5gj4 {
  margin-bottom: 24px;
}

.xqui205 {
  margin-top: 24px;
}

a {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
}

.x1qlqyl8 {
  font-size: inherit;
}

.xt0psk2 {
  display: inline;
}

.x1pd3egz {
  font-weight: inherit;
}

.xjnfcd9 {
  color: rgba(20, 97, 204, 1);
}

.xxio538 {
  line-height: 1.42858 !important;
}

._61ve a {
  font-family: inherit;
}

._6nw._61ve a {
  font-family: inherit;
}

a:hover {
  text-decoration: underline;
}

.xt0b8zv:hover {
  text-decoration: underline;
}

.x1fvot60 {
  font-size: 0.875rem !important;
}

.fcb {
  color: #1c1e21;
}

.x1e56ztr {
  margin-bottom: 8px;
}

.x1xmf6yo {
  margin-top: 8px;
}

.x1gzqxud {
  background-color: rgba(255, 255, 255, 1);
}

.x1i1ezom {
  border-bottom-right-radius: 6px;
}

.x1o6z2jb {
  border-bottom-left-radius: 6px;
}

.x1otrzb0 {
  border-top-right-radius: 6px;
}

.x1w2lkzu {
  padding-right: 11px;
}

.x6s0dn4 {
  align-items: center;
}

.xfth1om {
  border-right-color: rgba(0, 0, 0, 0.15);
}

.xhk9q7s {
  border-top-left-radius: 6px;
}

.xlu9dua {
  padding-left: 11px;
}

.xm81vs4 {
  border-right-width: 1px;
}

.xmls85d {
  border-left-color: rgba(0, 0, 0, 0.15);
}

.xy80clv {
  border-left-width: 1px;
}

.x178xt8z {
  border-top-width: 1px;
}

.x1ykpatu {
  padding-bottom: 7px;
}

.x21b0me {
  border-bottom-color: rgba(0, 0, 0, 0.15);
}

.xb9moi8 {
  border-top-color: rgba(0, 0, 0, 0.15);
}

.xm7lytj {
  padding-top: 7px;
}

.xso031l {
  border-bottom-width: 1px;
}

.x108nfp6 {
  color: rgba(0, 0, 0, 0.85);
}

.x10l6tqk {
  position: absolute;
}

.x13dflua {
  transition-duration: 0.2s;
}

.x17qophe {
  left: 0;
}

.x47corl {
  pointer-events: none;
}

.x6o7n8i {
  transition-property: opacity, transform;
}

.xds687c {
  right: 0;
}

.xg01cxk {
  opacity: 0;
}

.x10wlt62 {
  overflow-y: hidden;
}

.x13vifvy {
  top: 0;
}

.x1ey2m1c {
  bottom: 0;
}

.x6ikm8r {
  overflow-x: hidden;
}

.xxziih7 {
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
}

.x1j6awrg:after {
  position: absolute;
}

.x1s928wv:after {
  content: "";
}

.x14q35kh:after {
  border-top-right-radius: inherit;
}

.x1bs8fl3:after {
  border-left-width: 3px;
}

.x1n7iyjn:after {
  border-bottom-left-radius: inherit;
}

.x1ryaxvv:after {
  right: -1px;
}

.x1tt7eqi:after {
  border-right-style: inherit;
}

.x1w3onc2:after {
  opacity: 0.2;
}

.x1wa3ocq:after {
  border-bottom-right-radius: inherit;
}

.x8lbu6m:after {
  border-right-width: 3px;
}

.x9obomg:after {
  left: -1px;
}

.xhhp2wi:after {
  border-top-left-radius: inherit;
}

.xmb4j5p:after {
  border-right-color: inherit;
}

.xsp6npd:after {
  border-left-style: inherit;
}

.xwmxa91:after {
  border-left-color: inherit;
}

.x1hvfe8t:after {
  top: -1px;
}

.x1t0di37:after {
  border-top-style: inherit;
}

.x1te75w5:after {
  bottom: -1px;
}

.x2te4dl:after {
  border-bottom-width: 3px;
}

.xdx8kah:after {
  border-bottom-color: inherit;
}

.xe25xm5:after {
  border-bottom-style: inherit;
}

.xmn8db3:after {
  border-top-width: 3px;
}

.xnl74ce:after {
  border-top-color: inherit;
}

.xo1l8bm {
  font-weight: 400;
}

.x3nfvp2 {
  display: inline-flex;
}

.xxymvpz {
  vertical-align: middle;
}

.x193iq5w {
  max-width: 100%;
}

.x1iyjqo2 {
  flex-grow: 1;
}

.xozqiw3 {
  flex-wrap: nowrap;
}

.x140t73q {
  color: rgba(255, 255, 255, 1);
}

.x17r0tee {
  border-left-style: none;
}

.x87ps6o {
  -webkit-user-select: none;
}

.xd10rxx {
  border-right-style: none;
}

.xvmahel {
  -webkit-font-smoothing: antialiased;
}

.x1ejq31n {
  border-top-style: none;
}

.x1sy0etr {
  border-bottom-style: none;
}

.x1y1aw1k {
  padding-top: 8px;
}

.xwib8y2 {
  padding-bottom: 8px;
}

.xb57al4 {
  background-color: rgba(24, 119, 242, 1);
}

.x1lku1pv:hover {
  text-decoration: none;
}

.x1a02dak {
  flex-wrap: wrap;
}

.x1gnnqk1 {
  box-shadow: none;
}

.xlyipyv {
  text-overflow: ellipsis;
}

.x1urst0s {
  -webkit-text-fill-color: currentColor;
}

.x1hc1fzr {
  opacity: 1;
}

.xl56j7k {
  justify-content: center;
}

.xuxw1ft {
  white-space: nowrap;
}

.x3pnbk8 {
  row-gap: 8px;
}

.xfex06f {
  column-gap: 8px;
}

.x19lwn94:not([stylex-hack]) > :not(:last-child) {
  margin-right: 8px;
}

.x1lliihq {
  display: block;
}

.xvy4d1p {
  width: 24px;
}

.xxk0z11 {
  height: 24px;
}

.xkh2ocl {
  align-self: stretch;
}

.xnalus7 {
  width: 0;
}

.x12go9s9 {
  border-top-right-radius: 999px;
}

.x1rnf11y {
  border-bottom-right-radius: 999px;
}

.xprq8jg {
  border-bottom-left-radius: 999px;
}

.xzolkzo {
  border-top-left-radius: 999px;
}

.xtwfq29 {
  background-color: currentColor;
}

.x13rtm0m {
  border-bottom-left-radius: inherit;
}

.x1e5q0jg {
  border-bottom-right-radius: inherit;
}

.x1o1ewxj {
  border-top-left-radius: inherit;
}

.x3x9cwd {
  border-top-right-radius: inherit;
}

.xas4zb2 {
  background-color: rgba(0, 0, 0, 0.05);
}

img {
  border: 0;
}

.xhl3afg:not([stylex-hack]) img {
  object-fit: cover;
}

.x1jgp7su:not([stylex-hack]) img {
  left: 0;
}

.x1q1rkhy:not([stylex-hack]) img {
  position: absolute;
}

.x18tuezv:not([stylex-hack]) img {
  top: 0;
}

.x1xuqjiz:not([stylex-hack]) img {
  width: 100%;
}

.xtd80it:not([stylex-hack]) img {
  height: 100%;
}

.xlg9a9y {
  box-shadow: inset 0 0 0 1px var(--media-inner-border);
}

.x1dka6rp:not([stylex-hack]) > * {
  transform: translate(-50%, -50%);
}

.xt24udd:not([stylex-hack]) > * {
  position: absolute;
}

.xosibs0:not([stylex-hack]) > * {
  left: 50%;
}

.xw53kvy:not([stylex-hack]) > * {
  top: 50%;
}

/* These were inline style tags. Uses id+class to override almost everything */
#style-Z3WZQ.style-Z3WZQ {
  width: 16px;
  height: 16px;
  mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yc/r/7mZayILeGqN.png");
  mask-position: 0px -2165px;
}
#style-INjoJ.style-INjoJ {
  width: 16px;
  height: 16px;
  mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/L-LpLWhHnK3.png");
  mask-position: 0px -427px;
}
#style-wAo2o.style-wAo2o {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  border-radius: 4px;
}
#style-YwdkZ.style-YwdkZ {
  letter-spacing: normal;
  font-family: Arial, sans-serif;
  color: rgb(28, 30, 33);
  font-size: 12px;
  line-height: 16px;
  overflow: auto;
}
