@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");
@font-face {
  font-display: block;
  font-family: "Optimistic Display";
  font-style: normal;
  font-weight: 700;
  src: url(https://static.xx.fbcdn.net/rsrc.php/yU/r/WXBYOaYZuYu.woff2)
      format("woff2"),
    url(https://static.xx.fbcdn.net/rsrc.php/yY/r/uFQSckMfvjy.woff)
      format("woff"),
    url(https://static.xx.fbcdn.net/rsrc.php/ye/r/EvBN2KAyST_.eot)
      format("embedded-opentype");
}
@font-face {
  font-display: block;
  font-family: "Optimistic Display";
  font-style: normal;
  font-weight: 500;
  src: url(https://static.xx.fbcdn.net/rsrc.php/yL/r/jfwoHaS3i0K.woff2)
      format("woff2"),
    url(https://static.xx.fbcdn.net/rsrc.php/yx/r/fTvKFwGz9bf.woff)
      format("woff"),
    url(https://static.xx.fbcdn.net/rsrc.php/yV/r/J1XKtFquvMN.eot)
      format("embedded-opentype");
}
@font-face {
  font-display: block;
  font-family: "Optimistic Display";
  font-style: normal;
  font-weight: 300;
  src: url(https://static.xx.fbcdn.net/rsrc.php/yJ/r/gJ8wmjmQhMa.woff2)
      format("woff2"),
    url(https://static.xx.fbcdn.net/rsrc.php/yG/r/6EsmO4OOkIi.woff)
      format("woff"),
    url(https://static.xx.fbcdn.net/rsrc.php/y4/r/d8NpUU2wnvQ.eot)
      format("embedded-opentype");
}
body {
  font-family: inherit;
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgba(160, 51, 255, 0.024) 0%,
      rgba(160, 51, 255, 0) 50%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(160, 51, 255, 0.04) 0%,
      rgba(160, 51, 255, 0) 75%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(160, 51, 255, 0.064) 0%,
      rgba(160, 51, 255, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(24, 119, 242, 0.024) 0%,
      rgba(24, 119, 242, 0) 50%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(24, 119, 242, 0.04) 0%,
      rgba(24, 119, 242, 0) 75%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(24, 119, 242, 0.064) 0%,
      rgba(24, 119, 242, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 108, 92, 0.024) 0%,
      rgba(255, 108, 92, 0) 50%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 108, 92, 0.04) 0%,
      rgba(255, 108, 92, 0) 75%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 108, 92, 0.064) 0%,
      rgba(255, 108, 92, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(245, 206, 51, 0.024) 0%,
      rgba(245, 206, 51, 0) 50%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(245, 206, 51, 0.04) 0%,
      rgba(245, 206, 51, 0) 75%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(245, 206, 51, 0.064) 0%,
      rgba(245, 206, 51, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(37, 211, 102, 0.024) 0%,
      rgba(37, 211, 102, 0) 50%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(37, 211, 102, 0.04) 0%,
      rgba(37, 211, 102, 0) 75%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(37, 211, 102, 0.064) 0%,
      rgba(37, 211, 102, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(24, 119, 242, 0.024) 0%,
      rgba(24, 119, 242, 0) 50%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(24, 119, 242, 0.04) 0%,
      rgba(24, 119, 242, 0) 75%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(24, 119, 242, 0.064) 0%,
      rgba(24, 119, 242, 0) 100%
    );
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.28;
  font-size: 12px;
}
body {
  /* CSS Variables that may have been missed get put on body */
  --campaign-structure-min-width: 64px;
}

._61ve span {
  font-family: inherit;
}

._6nw._61ve span {
  font-family: inherit;
}

._61ve div {
  font-family: inherit;
}

._6nw._61ve div {
  font-family: inherit;
}

.xldge1k {
  background-position: 37.97vw calc(((300vw - 100vh) / 2 - 85.77vw) * -1),
    37.97vw calc(((300vw - 100vh) / 2 - 85.77vw) * -1),
    37.97vw calc(((300vw - 100vh) / 2 - 85.77vw) * -1),
    -100vw calc(((300vw - 100vh) / 2 - 154.56vw) * -1),
    -100vw calc(((300vw - 100vh) / 2 - 154.56vw) * -1),
    -100vw calc(((300vw - 100vh) / 2 - 154.56vw) * -1),
    13.34vw calc(((300vw - 100vh) / 2 - 53.88vw) * -1),
    13.34vw calc(((300vw - 100vh) / 2 - 53.88vw) * -1),
    13.34vw calc(((300vw - 100vh) / 2 - 53.88vw) * -1),
    10.64vw calc(((300vw - 100vh) / 2 - 17.19vw) * -1),
    10.64vw calc(((300vw - 100vh) / 2 - 17.19vw) * -1),
    10.64vw calc(((300vw - 100vh) / 2 - 17.19vw) * -1),
    -49vw calc(((300vw - 100vh) / 2 - 41.1vw) * -1),
    -49vw calc(((300vw - 100vh) / 2 - 41.1vw) * -1),
    -49vw calc(((300vw - 100vh) / 2 - 41.1vw) * -1),
    -100vw calc(((300vw - 100vh) / 2 - 78vw) * -1),
    -100vw calc(((300vw - 100vh) / 2 - 78vw) * -1),
    -100vw calc(((300vw - 100vh) / 2 - 78vw) * -1);
}

.x1nr1p0w {
  background-attachment: fixed;
}

.x1q85c4o {
  background-color: #fff;
}

.x2li9jd {
  background-image: radial-gradient(
      50% 50% at 50% 50%,
      rgba(160, 51, 255, 0.024) 0%,
      rgba(160, 51, 255, 0) 50%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(160, 51, 255, 0.04) 0%,
      rgba(160, 51, 255, 0) 75%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(160, 51, 255, 0.064) 0%,
      rgba(160, 51, 255, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(24, 119, 242, 0.024) 0%,
      rgba(24, 119, 242, 0) 50%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(24, 119, 242, 0.04) 0%,
      rgba(24, 119, 242, 0) 75%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(24, 119, 242, 0.064) 0%,
      rgba(24, 119, 242, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 108, 92, 0.024) 0%,
      rgba(255, 108, 92, 0) 50%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 108, 92, 0.04) 0%,
      rgba(255, 108, 92, 0) 75%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(255, 108, 92, 0.064) 0%,
      rgba(255, 108, 92, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(245, 206, 51, 0.024) 0%,
      rgba(245, 206, 51, 0) 50%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(245, 206, 51, 0.04) 0%,
      rgba(245, 206, 51, 0) 75%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(245, 206, 51, 0.064) 0%,
      rgba(245, 206, 51, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(37, 211, 102, 0.024) 0%,
      rgba(37, 211, 102, 0) 50%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(37, 211, 102, 0.04) 0%,
      rgba(37, 211, 102, 0) 75%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(37, 211, 102, 0.064) 0%,
      rgba(37, 211, 102, 0) 100%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(24, 119, 242, 0.024) 0%,
      rgba(24, 119, 242, 0) 50%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(24, 119, 242, 0.04) 0%,
      rgba(24, 119, 242, 0) 75%
    ),
    radial-gradient(
      50% 50% at 50% 50%,
      rgba(24, 119, 242, 0.064) 0%,
      rgba(24, 119, 242, 0) 100%
    );
}

.x6n32m9 {
  background-size: 156.45vw 99.03vw, 156.45vw 99.03vw, 156.45vw 99.03vw,
    226.86vw 145.44vw, 226.86vw 145.44vw, 226.86vw 145.44vw, 171.96vw 110.31vw,
    171.96vw 110.31vw, 171.96vw 110.31vw, 130.29vw 83.58vw, 130.29vw 83.58vw,
    130.29vw 83.58vw, 198vw 126.9vw, 198vw 126.9vw, 198vw 126.9vw, 300vw 192vw,
    300vw 192vw, 300vw 192vw;
}

.xiy17q3 {
  background-repeat: no-repeat;
}

.x10wlt62 {
  overflow-y: hidden;
}

.x193iq5w {
  max-width: 100%;
}

.x5yr21d {
  height: 100%;
}

.xh8yej3 {
  width: 100%;
}

body {
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  margin: 0px;
  padding: 0px;
  unicode-bidi: embed;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

body {
  overflow-y: scroll;
}

html {
  touch-action: manipulation;
}

:root {
  --hzFeaturedCardSpacing: 16px;
  --xkg63a2: calc(100vw - var(--hzFeaturedCardSpacing) * 2);
}

:root {
  --x1dflwya: var(--secondary-button-background);
  --xgcszl1: var(--button-height-medium);
}

@media (min-width: 1280px) {
  :root {
    --hzFeaturedCardSpacing: 32px;
  }
}

:root {
  --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
  --fds-strong: cubic-bezier(0.12, 0.8, 0.32, 1);
  --fds-white: #ffffff;
  --accent: hsl(214, 89%, 52%);
  --always-white: #ffffff;
  --always-dark-overlay: rgba(0, 0, 0, 0.4);
  --badge-background-color-blue: var(--accent);
  --badge-background-color-dark-gray: var(--secondary-icon);
  --badge-background-color-gray: var(--disabled-icon);
  --badge-background-color-green: var(--positive);
  --badge-background-color-light-blue: var(--highlight-bg);
  --badge-background-color-red: var(--notification-badge);
  --badge-background-color-yellow: var(--base-lemon);
  --base-lemon: #f7b928;
  --card-background: #ffffff;
  --disabled-button-background: #e4e6eb;
  --disabled-icon: #bcc0c4;
  --disabled-text: #bcc0c4;
  --divider: #ced0d4;
  --focus-ring-blue: #1877f2;
  --highlight-bg: #e7f3ff;
  --inverse-text: var(--always-white);
  --messenger-card-background: #ffffff;
  --mwp-header-background-color: var(--messenger-card-background);
  --mwp-header-button-color: var(--accent);
  --mwp-message-row-background: var(--messenger-card-background);
  --popover-card-background: var(--card-background);
  --negative: hsl(350, 87%, 55%);
  --notification-badge: #e41e3f;
  --placeholder-text: #65676b;
  --positive: #31a24c;
  --primary-icon: #050505;
  --secondary-button-background: #e4e6eb;
  --secondary-icon: #65676b;
  --secondary-text: #65676b;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-base: 0 1px 2px var(--shadow-2);
  --shadow-emphasis: 0 2px 12px var(--shadow-2);
  --input-background: #ffffff;
  --input-background-hover: var(--input-background);
  --input-background-warn-hover: hsla(
    var(--warning-h),
    var(--warning-s),
    var(--warning-l),
    0.05
  );
  --input-background-error-hover: hsla(
    var(--negative-h),
    var(--negative-s),
    var(--negative-l),
    0.05
  );
  --input-background-active: hsla(
    var(--accent-h),
    var(--accent-s),
    var(--accent-l),
    0.05
  );
  --input-background-warn-active: hsla(
    var(--warning-h),
    var(--warning-s),
    var(--warning-l),
    0.05
  );
  --input-background-error-active: hsla(
    var(--negative-h),
    var(--negative-s),
    var(--negative-l),
    0.05
  );
  --input-border-color-hover: var(--placeholder-text);
  --input-label-color-inside: var(--secondary-text);
  --input-label-color-error: var(--negative);
  --input-label-color-disabled: var(--disabled-text);
  --tooltip-box-shadow: 0 2px 4px 0 var(--shadow-5);
  --chat-outgoing-message-bubble-background-color: var(--accent);
  --radio-border-color: var(--primary-icon);
  --radio-border-color-disabled: var(--disabled-button-background);
  --radio-border-color-selected: var(--accent);
  --radio-checked-icon-color: var(--accent);
  --radio-checked-icon-color-disabled: var(--disabled-button-background);
  --button-height-medium: 36px;
  --card-box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  --menu-item-base-padding-horizontal: 8px;
  --menu-item-base-with-icon-padding-horizontal: var(
    --menu-item-base-padding-horizontal
  );
  --focus-ring-outline-link: 2px auto var(--focus-ring-blue);
  --focus-ring-shadow-default: 0 0 0 2px var(--always-white),
    0 0 0 4px var(--focus-ring-blue);
  --focus-ring-shadow-inset: 0 0 0 2px var(--focus-ring-blue) inset,
    0 0 0 4px var(--always-white) inset;
}

:root {
  --fds-black-alpha-20: rgba(0, 0, 0, 0.2);
  --fds-secondary-text: #606770;
  --fds-strong: cubic-bezier(0.12, 0.8, 0.32, 1);
  --fds-white: #ffffff;
  --accent: rgb(8, 102, 255);
  --always-white: rgb(255, 255, 255);
  --card-background: rgb(255, 255, 255);
  --disabled-button-background: rgb(226, 229, 233);
  --disabled-icon: rgb(176, 179, 184);
  --disabled-text: rgb(176, 179, 184);
  --divider: rgb(208, 211, 215);
  --negative: rgb(251, 60, 68);
  --notification-badge: rgb(221, 35, 52);
  --placeholder-text: rgb(101, 104, 108);
  --positive: rgb(49, 167, 59);
  --primary-icon: rgb(8, 8, 9);
  --secondary-button-background: rgb(226, 229, 233);
  --secondary-icon: rgb(101, 104, 108);
  --secondary-text: rgb(101, 104, 108);
}

._2k0c {
  background: #f5f7f8;
  bottom: 16px;
  --campaign-structure-min-width: 64px;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 199;
}

._96v5 {
  box-shadow: -1px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

._2k0c._8_1l {
  bottom: 0;
}

.x10l6tqk {
  position: absolute;
}

.x1a0uwpx {
  box-shadow: -2px 2px 4px -1px var(--fds-black-alpha-20);
}

.x1jj3tg0 {
  left: -44px;
}

.x1ob5r32 {
  flex-grow: 0 0 44;
}

.x1vjfegm {
  z-index: 1;
}

.x4uap5 {
  padding-right: 0;
}

.x78zum5 {
  display: flex;
}

.xdt5ytf {
  flex-direction: column;
}

.xkhd6sd {
  padding-left: 0;
}

.x187nhsf {
  width: 44px;
}

.x18d9i69 {
  padding-bottom: 0;
}

.x1iorvi4 {
  padding-top: 4px;
}

.x6ikm8r {
  overflow-x: hidden;
}

.x5jzwa4 {
  background-color: rgba(28, 43, 51, 1);
}

._96uw {
  flex: 1 1 auto;
  height: 100%;
  max-width: 360px;
  min-width: var(--campaign-structure-min-width);
  overflow: visible;
  position: relative;
  width: 360px;
}

._2k0g {
  box-sizing: border-box;
  flex-grow: 1;
  height: 100%;
  min-width: 990px;
  overflow: auto;
  width: 990px;
  z-index: 10;
}

.x1a2a7pz {
  outline: none;
}

.x10y3i5r {
  border-bottom-left-radius: 4px;
}

.x1iji9kk {
  padding-right: 10px;
}

.x1lcm9me {
  border-top-left-radius: 4px;
}

.x1sln4lm {
  padding-left: 10px;
}

.x1ypdohk {
  cursor: pointer;
}

.x1yr5g0i {
  border-top-right-radius: 4px;
}

.x4nwuxf {
  background-color: rgba(52, 72, 84, 1);
}

.xrt01vj {
  border-bottom-right-radius: 4px;
}

.xsgj6o6 {
  margin-left: 4px;
}

.xw3qccf {
  margin-right: 4px;
}

.x12nagc {
  margin-bottom: 4px;
}

.x1a8lsjc {
  padding-bottom: 10px;
}

.x1gslohp {
  margin-top: 4px;
}

.x1kky2od {
  width: 16px;
}

.x889kno {
  padding-top: 10px;
}

.xlup9mm {
  height: 16px;
}

.xmbozn3:hover {
  background-color: rgba(70, 90, 105, 1);
}

.xwa60dl {
  top: 50%;
}

i.img {
  -ms-high-contrast-adjust: none;
}

.x1rg5ohu {
  display: inline-block;
}

.x67bb7w {
  pointer-events: auto;
}

.x17adc0v {
  margin-left: 10px;
}

.x17r0tee {
  border-left-style: none;
}

.xd10rxx {
  border-right-style: none;
}

.xmo9yow {
  margin-right: 10px;
}

.x1anpbxc {
  margin-top: 10px;
}

.x1ejq31n {
  border-top-style: none;
}

.x1sy0etr {
  border-bottom-style: none;
}

.xyorhqc {
  margin-bottom: 10px;
}

._1_tm {
  background-color: #fff;
  border-right: 1px solid #c6c9cc;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-width: 100%;
  position: absolute;
  width: 100%;
}

._1_tm._9898 {
  transition: min-width 0.5s ease-in-out 0.1s, z-index 0s ease 0.6s;
  z-index: 0;
}

._1_tm._9898:hover {
  min-width: max(100%, 230px);
  transition: min-width 0.5s ease-in-out 0.1s, z-index 0s ease 0s;
  z-index: 11;
}

._3ptk {
  height: 100%;
}

._8z1k {
  display: flex;
  flex-direction: column;
}

.x14yi0bh {
  border-right-color: initial;
}

.x1n2onr6 {
  position: relative;
}

.x9f619 {
  box-sizing: border-box;
}

.xcfux6l {
  border-right-width: 0;
}

.xjbqb8w {
  background-color: transparent;
}

.xm0m39n {
  border-left-width: 0;
}

.xmfk5bu {
  border-left-color: initial;
}

.x14qfxbe {
  width: 36px;
}

.x15wryii {
  border-top-color: initial;
}

.x1qhh985 {
  border-bottom-width: 0;
}

.x2kcyu4 {
  border-bottom-color: initial;
}

.x972fbf {
  border-top-width: 0;
}

.xc9qbxq {
  height: 36px;
}

._8ywk {
  box-sizing: border-box;
  cursor: pointer;
  height: 36px;
  margin: 4px;
  outline: none;
  padding: 10px;
  width: 36px;
}

.x1ye3gou {
  padding-left: 12px;
}

.x26u7qi {
  border-left-style: solid;
}

.x2izyaf {
  background-color: var(--fds-white);
}

.xc2dlm9 {
  border-left-color: #e9eaeb;
}

.xgif2c7 {
  line-height: 28px;
}

.xn6708d {
  padding-right: 12px;
}

.xolcy6v {
  border-right-color: #e9eaeb;
}

.xu3j5b3 {
  border-right-style: solid;
}

.xy80clv {
  border-left-width: 1px;
}

.x10b6aqq {
  padding-bottom: 6px;
}

.x13fuv20 {
  border-top-style: solid;
}

.x15bcfbt {
  border-top-color: #e9eaeb;
}

.x178xt8z {
  border-top-width: 1px;
}

.x1q0q8m5 {
  border-bottom-style: solid;
}

.x1yrsyyn {
  padding-top: 6px;
}

.x3ckiwt {
  border-bottom-color: #e9eaeb;
}

.xod5an3 {
  margin-bottom: 12px;
}

.xso031l {
  border-bottom-width: 1px;
}

._22s_ {
  background: #f3f4f4;
  bottom: 0;
  box-sizing: border-box;
  height: calc(100% - 44px);
  overflow: auto;
  right: 0;
  width: 100%;
  z-index: 200;
}

._7ayd {
  height: calc(100% - 44px - 48px);
}

._7ayd._8z1m {
  flex: 1 1 auto;
  height: 100%;
}

.xbsr9hj {
  color: rgba(28, 43, 51, 1);
}

.xeq5yr9 {
  width: fit-content;
}

.xgqtt45 {
  min-width: 100%;
}

.resize-triggers {
  animation: 1ms resizeanim;
  visibility: hidden;
  opacity: 0;
}

.resize-triggers {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.x140t73q {
  color: rgba(255, 255, 255, 1);
}

.x3nfvp2 {
  display: inline-flex;
}

.x1iyjqo2 {
  flex-grow: 1;
}

.xdl72j9 {
  flex-basis: auto;
}

.xeuugli {
  min-width: 0;
}

.x17qophe {
  left: 0;
}

.xds687c {
  right: 0;
}

.x1ey2m1c {
  bottom: 0;
}

.resize-triggers > div {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.resize-triggers > div {
  background: #eee;
  overflow: auto;
}

.resize-triggers,
.resize-triggers > div,
.contract-trigger:before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.contract-trigger:before {
  width: 200%;
  height: 200%;
}

.xjkvuk6 {
  padding-bottom: 4px;
}

.xn3w4p2 {
  height: 44px;
}

._6jw8 {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.xtwfq29 {
  background-color: currentColor;
}

.x39eecv {
  margin-left: -1px;
}

.xuxw1ft {
  white-space: nowrap;
}

.x1i1rx1s {
  width: 1px;
}

.x1jyxor1 {
  margin-bottom: -1px;
}

.x1y332i5 {
  margin-top: -1px;
}

.xjm9jq1 {
  height: 1px;
}

.x1qvwoe0 {
  clip: rect(1px, 1px, 1px, 1px);
}

.xcwd3tp {
  margin-right: -1px;
}

.x5pf9jr {
  border-bottom-right-radius: 0;
}

.xo71vjh {
  border-bottom-left-radius: 0;
}

.x6s0dn4 {
  align-items: center;
}

.xq8finb {
  margin-right: 12px;
}

.x1qughib {
  justify-content: space-between;
}

.x1r8uery {
  flex-basis: 0px;
}

.xs83m0k {
  flex-shrink: 1;
}

._6jw8 > * {
  flex-shrink: 0;
}

._13uo {
  background: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: space-between;
  overflow: hidden;
  padding: 8px 8px;
  position: relative;
}

.x13a6bvl {
  justify-content: flex-end;
}

.x1sxyh0 {
  padding-right: 8px;
}

.xurb0ha {
  padding-left: 8px;
}

.x1y1aw1k {
  padding-top: 8px;
}

.x2lwn1j {
  min-height: 0;
}

.xwib8y2 {
  padding-bottom: 8px;
}

._6jw5 {
  flex: 1 1 auto;
  margin-bottom: 20px;
  margin-left: 12px;
  margin-right: 12px;
  overflow: hidden;
  width: calc(100% - 22px);
}

._4u-c {
  position: relative;
}

.x1q0g3np {
  flex-direction: row;
}

.xozqiw3 {
  flex-wrap: nowrap;
}

.__qa {
  box-sizing: border-box;
  text-align: center;
}

.xxymvpz {
  vertical-align: middle;
}

._8ivh {
  align-items: center;
  display: inline-flex;
  flex-basis: 1;
  flex-grow: 0;
  margin-left: 12px;
  margin-right: 12px;
}

.x1nhvcw1 {
  justify-content: flex-start;
}

._65ab {
  border-radius: 2px;
  height: 8px;
  position: relative;
  width: 100%;
}

._65ac {
  background: transparent;
}

._2tr- ._65ab {
  height: 4px;
}

.x1hl2dhg {
  text-decoration: none;
}

.xe8uvvx {
  list-style: none;
}

.x11i5rnm {
  margin-right: 0;
}

.x1g40iwv {
  outline-offset: -1px;
}

.x1ja2u2z {
  z-index: 0;
}

.x1mh8g0r {
  margin-left: 0;
}

.x1v911su {
  background-color: rgba(0, 0, 0, 0);
}

.x2lah0s {
  flex-shrink: 0;
}

.x87ps6o {
  -webkit-user-select: none;
}

.xo1l8bm {
  font-weight: 400;
}

.xvmahel {
  -webkit-font-smoothing: antialiased;
}

.xat24cr {
  margin-bottom: 0;
}

.xdj266r {
  margin-top: 0;
}

.x16tdsg8 {
  text-align: inherit;
}

.x1i10hfl {
  -webkit-tap-highlight-color: transparent;
}

.x1qgsegg {
  outline-width: 1px;
}

.x2hbi6w {
  border-left-color: var(--always-dark-overlay);
}

.xa49m3k {
  border-right-color: var(--always-dark-overlay);
}

.xaatb59 {
  outline-style: solid;
}

.xggy1nq {
  touch-action: manipulation;
}

.xjqpnuy {
  border-top-color: var(--always-dark-overlay);
}

.xqeqjp1 {
  border-bottom-color: var(--always-dark-overlay);
}

.x1ob88yx {
  outline-color: rgba(167, 179, 191, 1);
}

.x1lku1pv:hover {
  text-decoration: none;
}

._8ivk {
  align-items: center;
  border-right: none;
  display: inline-flex;
  height: 28px;
  margin-right: 4px;
  padding-right: 12px;
}

.x19lwn94:not([stylex-hack]) > :not(:last-child) {
  margin-right: 8px;
}

.x1swvt13 {
  padding-left: 16px;
}

._6m6l {
  height: 2px;
  overflow: hidden;
  position: absolute;
  transition: none;
  width: 100%;
  z-index: 2;
}

._6m6m {
  opacity: 0;
  transition: width 0.75s ease-in-out, background 0s linear 0.16s,
    opacity 0.25s ease-out 0.6s;
}

.x1gzqxud {
  background-color: rgba(255, 255, 255, 1);
}

.xeaf4i8 {
  white-space: normal;
}

.x1odjw0f {
  overflow-y: auto;
}

.xedcshv {
  max-height: inherit;
}

.xw2csxc {
  overflow-x: auto;
}

.x2b8uid {
  text-align: center;
}

.x1ow4hk9 {
  padding-top: 60px;
}

.x6mplv7 {
  top: var(--ads-mgmt-table-header-height);
}

.__q7 {
  background: #066cd2;
  border-radius: 2px;
  height: 8px;
  left: 0;
  position: absolute;
  transition: width 0.5s cubic-bezier(0.5, 0, 0.15, 1),
    background 0s linear 0.16s;
}

.__qb .__q7 {
  width: 100%;
}

._2tr- .__q7 {
  height: 4px;
}

.x1h4wwuj {
  word-wrap: normal;
}

.x1heor9g {
  color: inherit;
}

.xmi5d70 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
}

.x1pd3egz {
  font-weight: inherit;
}

.xq9mrsl {
  white-space: inherit;
}

.x1fvot60 {
  font-size: 0.875rem !important;
}

.xxio538 {
  line-height: 1.42858 !important;
}

.xlyipyv {
  text-overflow: ellipsis;
}

.xc02obx {
  max-width: min-content;
}

.x1emribx {
  margin-right: 8px;
}

.x1i64zmx {
  margin-left: 8px;
}

.x14ju556 {
  line-height: 0;
}

._5ldw {
  display: inline-block;
  position: relative;
}

.x12go9s9 {
  border-top-right-radius: 999px;
}

.x1rnf11y {
  border-bottom-right-radius: 999px;
}

.xprq8jg {
  border-bottom-left-radius: 999px;
}

.xzolkzo {
  border-top-left-radius: 999px;
}

.xdk7pt {
  height: 8px;
}

._6m6l [role="progressbar"] {
  border-radius: 0;
}

.xmz0i5r {
  max-height: 100%;
}

._2ql1 {
  display: table;
  height: 100%;
  text-align: center;
  width: 100%;
}

label {
  color: #606770;
  cursor: default;
  font-weight: 600;
  vertical-align: middle;
}

label {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

label {
  font-family: inherit;
}

label {
  font-family: Helvetica, Arial, sans-serif;
}

.x1w2lkzu {
  padding-right: 11px;
}

.xlu9dua {
  padding-left: 11px;
}

.xm81vs4 {
  border-right-width: 1px;
}

.x1ykpatu {
  padding-bottom: 7px;
}

.xm7lytj {
  padding-top: 7px;
}

.x10lij0i {
  border-left-color: rgba(203, 210, 217, 1);
}

.xvyu6v8 {
  border-right-color: rgba(203, 210, 217, 1);
}

.xrsgblv {
  border-bottom-color: rgba(203, 210, 217, 1);
}

.xwebqov {
  border-top-color: rgba(203, 210, 217, 1);
}

.x13dflua {
  transition-duration: 0.2s;
}

.x47corl {
  pointer-events: none;
}

.x6o7n8i {
  transition-property: opacity, transform;
}

.xg01cxk {
  opacity: 0;
}

.x13vifvy {
  top: 0;
}

.xxziih7 {
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
}

.x1j6awrg:after {
  position: absolute;
}

.x1s928wv:after {
  content: "";
}

.x14q35kh:after {
  border-top-right-radius: inherit;
}

.x1bs8fl3:after {
  border-left-width: 3px;
}

.x1n7iyjn:after {
  border-bottom-left-radius: inherit;
}

.x1ryaxvv:after {
  right: -1px;
}

.x1tt7eqi:after {
  border-right-style: inherit;
}

.x1w3onc2:after {
  opacity: 0.2;
}

.x1wa3ocq:after {
  border-bottom-right-radius: inherit;
}

.x8lbu6m:after {
  border-right-width: 3px;
}

.x9obomg:after {
  left: -1px;
}

.xhhp2wi:after {
  border-top-left-radius: inherit;
}

.xmb4j5p:after {
  border-right-color: inherit;
}

.xsp6npd:after {
  border-left-style: inherit;
}

.xwmxa91:after {
  border-left-color: inherit;
}

.x1hvfe8t:after {
  top: -1px;
}

.x1t0di37:after {
  border-top-style: inherit;
}

.x1te75w5:after {
  bottom: -1px;
}

.x2te4dl:after {
  border-bottom-width: 3px;
}

.xdx8kah:after {
  border-bottom-color: inherit;
}

.xe25xm5:after {
  border-bottom-style: inherit;
}

.xmn8db3:after {
  border-top-width: 3px;
}

.xnl74ce:after {
  border-top-color: inherit;
}

.x1hzt7jf {
  transition: opacity 0.2s;
}

.x19p7ews {
  border-left-width: 2px;
}

.x1lliihq {
  display: block;
}

.xwvwv9b {
  height: 46px;
}

.x1k4ywey {
  background-color: rgba(225, 237, 247, 1);
}

.x1ug7tv7 {
  border-right-color: rgba(10, 120, 190, 1);
}

.xd1rtb7 {
  border-left-color: rgba(10, 120, 190, 1);
}

.x14ihq94 {
  border-top-color: rgba(10, 120, 190, 1);
}

.x6kzwsm {
  border-bottom-color: rgba(10, 120, 190, 1);
}

.x1ftr3km {
  border-left-color: transparent;
}

.x5e6ka {
  color: var(--fds-secondary-text);
}

._3qn7 {
  display: flex;
}

._2fyi {
  flex-direction: row;
}

._61-0 {
  justify-content: flex-start;
}

._3qng {
  align-items: center;
}

.x16n37ib {
  margin-left: 12px;
}

.x1xxsxie {
  line-height: 14px;
}

.xp4054r {
  text-align: end;
}

.xckqwgs {
  border-left-color: var(--divider);
}

.x17rw0jw {
  height: 22px;
}

.x11xpdln {
  transition-property: transform;
}

.x1wsgiic {
  transition-duration: 0.5s;
}

.xpt81ld {
  transition-timing-function: var(--fds-strong);
}

.xqkc6xh {
  background-color: rgba(0, 107, 78, 1);
}

.x1mzt3pk {
  word-wrap: break-word;
}

table {
  font-family: inherit;
}

._2ql2 {
  box-sizing: border-box;
  display: table-cell;
  height: 100%;
  padding: 0 50px;
  text-align: center;
  vertical-align: middle;
}

.x117nqv4 {
  font-weight: bold;
}

.x13faqbe {
  word-break: break-word;
}

.x1vvkbs {
  word-wrap: break-word;
}

.x1hc1fzr {
  opacity: 1;
}

.xl56j7k {
  justify-content: center;
}

button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

button {
  margin: 0;
}

._ai7j {
  overflow: visible;
  position: relative;
}

._ai7l {
  outline: none;
}

._271k {
  background-position: 0 0;
  border: 1px solid;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  padding: 0;
  position: relative;
  text-shadow: none;
  transition: all 300ms cubic-bezier(0.1, 0.7, 0.1, 1), border-width 1ms;
  transition-property: background, border-color, border-width, color;
  vertical-align: middle;
}

._271m {
  max-width: 242px;
}

._1qjd {
  outline: 0;
}

._61ve button {
  font-family: inherit;
}

._6nw._61ve button {
  font-family: inherit;
}

.x7wzq59 {
  position: -webkit-sticky;
  position: sticky;
}

.x1pshirs {
  min-width: fit-content;
}

._3-96 {
  margin-bottom: 12px;
}

.x1uxerd5 {
  font-size: 1rem !important;
}

.x1xqt7ti {
  font-family: Optimistic Display, system-ui, sans-serif !important;
}

.xrohxju {
  line-height: 1.25 !important;
}

.x1541jtf {
  color: rgba(28, 43, 51, 0.65);
}

.x1a02dak {
  flex-wrap: wrap;
}

.x1ok221b {
  margin-top: 5px;
}

.x1t1x2f9 {
  flex-basis: 0%;
}

.x1gryazu {
  margin-left: auto;
}

.xt4ypqs {
  min-width: 20px;
}

.x1c4vz4f {
  flex-grow: 0;
}

.x1wpsl4u {
  flex-basis: 16px;
}

.x1sx8fc2 {
  flex-basis: 32px;
}

.x150jy0e {
  padding-right: 4px;
}

.x1e558r4 {
  padding-left: 4px;
}

.x1xlr1w8 {
  font-weight: 700;
}

.x1qsmy5i {
  color: rgba(10, 120, 190, 1);
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._43rl {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.xk50ysn {
  font-weight: 500;
}

.x1s3fex4 {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05), 0 1px 1px rgba(0, 0, 0, 0.05);
}

.x1uqg51p {
  transform: translateY(-1px);
}

tr {
  font-family: inherit;
}

svg {
  forced-color-adjust: auto;
}

.x1s85apg {
  display: none;
}

.x4s1yf2 {
  color: rgba(40, 57, 67, 1);
}

._96mf {
  align-items: center;
  display: flex;
}

a {
  color: #385898;
  cursor: pointer;
  text-decoration: none;
}

._4yeg {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._4yeg {
  display: inline;
}

._231w {
  max-width: 100%;
  text-decoration: none;
}

._61ve a {
  font-family: inherit;
}

._6nw._61ve a {
  font-family: inherit;
}

a:hover {
  text-decoration: underline;
}

._231w,
._231w:hover {
  max-width: 100%;
  text-decoration: none;
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  visibility: hidden;
}

.x3oybdh {
  transform: scale(1);
}

._43rm {
  flex-basis: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._ai7l > * > :not(._ai7o):not(._ai7p) {
  transition: opacity 200ms cubic-bezier(0.08, 0.52, 0.52, 1);
}

._271o {
  flex-shrink: 0;
}

.x1pi30zi {
  padding-right: 16px;
}

.x1yc453h {
  text-align: start;
}

th {
  font-family: inherit;
}

.xqcrz7y {
  align-self: flex-start;
}

input {
  background-color: #fff;
  color: #1c1e21;
}

input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.x1gnnqk1 {
  box-shadow: none;
}

.x1t137rt {
  outline-style: none;
}

.xexx8yu {
  padding-top: 0;
}

.x1rffpxw {
  text-overflow: initial;
}

.x1urst0s {
  -webkit-text-fill-color: currentColor;
}

input {
  font-family: inherit;
}

input {
  font-family: Helvetica, Arial, sans-serif;
}

.xr9ek0c {
  margin-top: 2px;
}

._96mg {
  display: flex;
  margin-right: 4px;
}

.x1fcty0u {
  font-weight: normal;
}

.x63nzvj {
  line-height: 1.33334 !important;
}

.xsuwoey {
  font-size: 0.9375rem !important;
}

._4bl7 {
  word-wrap: break-word;
}

._ikh ._4bl7 {
  float: left;
  min-height: 1px;
}

._4bl9 {
  word-wrap: break-word;
}

._4bl9 {
  overflow: hidden;
}

.xjyslct {
  -webkit-appearance: none;
}

.x1w3u9th {
  opacity: 0.001;
}

._1uz0 {
  display: inline-block;
}

._3dfi {
  unicode-bidi: embed;
}

._3dfj {
  direction: ltr;
}

._4gz1 {
  flex: 1 1 0px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.x1y5rjcf {
  line-height: 1.67;
}

.x15406qy {
  transition-property: background-color;
}

.x1qx5ct2 {
  height: 20px;
}

.xw4jnvo {
  width: 20px;
}

.x19bke7z {
  background-color: rgba(10, 120, 190, 1);
}

.x1psfjxj {
  transform: translateX(16px);
}

.x104kibb {
  display: -webkit-box;
}

.x1ua5tub {
  -webkit-box-orient: vertical;
}

@keyframes resizeanim {
  0% {
    opacity: 0;
    opacity: 0;
  }
  100% {
    opacity: 0;
    opacity: 0;
  }
}
/* These were inline style tags. Uses id+class to override almost everything */
#style-cvCF7.style-cvCF7 {
  max-width: 1436px;
  width: 1436px;
}
#style-dzMaK.style-dzMaK {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/Oq4hWev4Svf.png");
  background-position: 0px -2794px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-UNHaU.style-UNHaU {
  width: 16px;
  height: 16px;
  mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/Oq4hWev4Svf.png");
  mask-position: 0px -2335px;
}
#style-tnVrm.style-tnVrm {
  width: 16px;
  height: 16px;
  mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/Oq4hWev4Svf.png");
  mask-position: 0px -3253px;
}
#style-ZCyBF.style-ZCyBF {
  width: 16px;
  height: 16px;
  mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/jg3IY981y5G.png");
  mask-position: -17px -152px;
}
#style-cTBvR.style-cTBvR {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/Oq4hWev4Svf.png");
  background-position: 0px -2624px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-55xDH.style-55xDH {
  display: contents;
}
#style-2WznB.style-2WznB {
  padding-top: 0px;
}
#style-GLwTt.style-GLwTt {
  width: 16px;
  height: 16px;
  mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/cX7DKT2CkS9.png");
  mask-position: -51px -1968px;
}
#style-womFU.style-womFU {
  opacity: 0;
  transition: opacity 0.25s ease-out 0.6s;
}
#style-9d4LO.style-9d4LO {
  width: 100%;
}
#style-TBXWV.style-TBXWV {
  width: 0%;
}
#style-IH3Fe.style-IH3Fe {
  position: relative;
}
#style-1iINH.style-1iINH {
  overflow: visible;
  width: 0px;
}
#style-o2zbq.style-o2zbq {
  box-sizing: border-box;
  direction: ltr;
  height: 138px;
  position: relative;
  width: 359px;
  will-change: transform;
  overflow: hidden;
}
#style-vIwP6.style-vIwP6 {
  width: auto;
  height: 138px;
  max-width: 359px;
  max-height: 138px;
  overflow: hidden;
  position: relative;
}
#style-nrkTT.style-nrkTT {
  height: 46px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
#style-rSEie.style-rSEie {
  display: contents;
}
#style-B2e2F.style-B2e2F {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/aHtCZUeO70W.png");
  background-position: -336px -2100px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-FHDUs.style-FHDUs {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/Y2CLjbmxPzF.png");
  background-position: 0px -117px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-gCley.style-gCley {
  height: 46px;
  left: 0px;
  position: absolute;
  top: 46px;
  width: 100%;
}
#style-YL644.style-YL644 {
  display: contents;
}
#style-JlPUP.style-JlPUP {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/aHtCZUeO70W.png");
  background-position: -336px -2100px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-kmEJj.style-kmEJj {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/Y2CLjbmxPzF.png");
  background-position: 0px -117px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-kYw6i.style-kYw6i {
  height: 46px;
  left: 0px;
  position: absolute;
  top: 92px;
  width: 100%;
}
#style-sMaFe.style-sMaFe {
  display: contents;
}
#style-5MUps.style-5MUps {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yM/r/aHtCZUeO70W.png");
  background-position: -336px -2100px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-GQ4QR.style-GQ4QR {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yS/r/Y2CLjbmxPzF.png");
  background-position: 0px -117px;
  background-size: auto;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-hnBKd.style-hnBKd {
  width: 360px;
  height: 139px;
}
#style-mNso7.style-mNso7 {
  display: contents;
}
#style-rmYbJ.style-rmYbJ {
  display: flex;
}
#style-EJeDq.style-EJeDq {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/frMiW3k9fmj.png");
  background-position: -34px -180px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-HefXX.style-HefXX {
  max-width: 100%;
}
#style-wrMmm.style-wrMmm {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/frMiW3k9fmj.png");
  background-position: -68px -155px;
  background-size: auto;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-kzNEl.style-kzNEl {
  color: rgb(20, 97, 204);
}
#style-qXQ5H.style-qXQ5H {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yu/r/frMiW3k9fmj.png");
  background-position: -68px -155px;
  background-size: auto;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-6DRbo.style-6DRbo {
  color: rgb(20, 97, 204);
}
#style-aD6jY.style-aD6jY {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/Oq4hWev4Svf.png");
  background-position: -21px -1332px;
  background-size: auto;
  width: 8px;
  height: 8px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-sVHk8.style-sVHk8 {
  width: 16px;
  height: 16px;
  mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/2qdc4_H3cyf.png");
  mask-position: -34px -239px;
}
#style-VNKsj.style-VNKsj {
  max-width: 100%;
  letter-spacing: normal;
  color: rgb(28, 30, 33);
  font-size: 14px;
  font-weight: normal;
  font-family: Roboto, Arial, sans-serif;
  line-height: 36px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.05);
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 6px;
  border-width: 0px;
}
#style-1CCIC.style-1CCIC {
  margin-left: 8px;
  margin-right: -6px;
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/Oq4hWev4Svf.png");
  background-position: 0px -3627px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-UfcIK.style-UfcIK {
  width: 16px;
  height: 16px;
  mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/L-LpLWhHnK3.png");
  mask-position: 0px -427px;
}
#style-QbgG4.style-QbgG4 {
  width: 16px;
  height: 16px;
  mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yV/r/L-LpLWhHnK3.png");
  mask-position: 0px -427px;
}
#style-Oq4Nc.style-Oq4Nc {
  max-height: 506px;
}
#style-8kJYt.style-8kJYt {
  top: 40px;
}
#style-9THha.style-9THha {
  transform: translateX(0%);
}
#style-2UWmP.style-2UWmP {
  display: grid;
  grid-template-columns: minmax(0px, 1.5fr) minmax(0px, 1.5fr) minmax(0px, 2fr) minmax(
      0px,
      1.5fr
    ) minmax(0px, 1.5fr);
  width: min-content;
  min-width: 100%;
}
#style-xD3pV.style-xD3pV {
  grid-area: 1 / 1 / auto / 2;
}
#style-zRYP7.style-zRYP7 {
  -webkit-line-clamp: 2;
  text-wrap: wrap;
}
#style-1tGik.style-1tGik {
  grid-area: 1 / 2 / auto / 3;
}
#style-WZ2J4.style-WZ2J4 {
  -webkit-line-clamp: 2;
  text-wrap: wrap;
}
#style-aBR6S.style-aBR6S {
  grid-area: 1 / 3 / auto / 4;
}
#style-xi5gU.style-xi5gU {
  -webkit-line-clamp: 2;
  text-wrap: wrap;
}
#style-athba.style-athba {
  grid-area: 1 / 4 / auto / 5;
}
#style-JNA8s.style-JNA8s {
  -webkit-line-clamp: 2;
  text-wrap: wrap;
}
#style-cy8YT.style-cy8YT {
  grid-area: 1 / 5 / auto / 6;
}
#style-7vwJO.style-7vwJO {
  -webkit-line-clamp: 2;
  text-wrap: wrap;
}
#style-AiqNy.style-AiqNy {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/cX7DKT2CkS9.png");
  background-position: -49px -1919px;
  background-size: auto;
  width: 46px;
  height: 38px;
  background-repeat: no-repeat;
  display: inline-block;
}
