@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

body {
  cursor: default;
  font-family: inherit;
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.28;
  font-size: 12px;
}

.date-range-picker {
  display: inline-block;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 4px;
  border-radius: 7px;
  background-color: #fff;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.content {
  display: flex;
}

.calendars {
  display: flex;
  flex-direction: row;

  /* Change this line to arrange calendars side by side */
}

.calendar {
  margin-right: 10px;
}

.month-title {
  text-align: center;
  margin-bottom: 5px;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.month-title > div:last-child {
  margin-top: 10px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-row-gap: 5px;
}

.day {
  width: 32px;
  color: #1c1e21;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.day.empty {
  cursor: default;
}

.day.in-range {
  background-color: #ebedf0;
}

.day.selected-start,
.day.selected-end {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}

.day.hover {
  background-color: #cce5ff;
}

.presets {
  display: flex;
  flex-direction: column;
  width: 130px;
  margin-left: 20px;
  background-color: #ffffff;
}

.presets > div {
  cursor: pointer;
  padding: 5px 0;
  padding-left: 5px;
  color: #1c1e21;
}

.presets > div:hover {
  background-color: #f2f2f2;
}

.footer {
  display: flex;
  justify-content: end;
  align-items: center;
  margin-top: 60px;
}

.footer > div {
  margin-right: 10px;
}

.selected-dates {
  font-weight: bold;
}

.cancel-btn,
.update-btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cancel-btn {
  background-color: #ccc;
}

.update-btn {
  background-color: #007bff;
  color: white;
  font-size: 14px;
  width: 74px;
  height: 36px;
}

.moveicon {
  background-color: none;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.footer > button {
  margin-left: 10px;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap");

body {
  cursor: default;
  font-family: inherit;
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.28;
  font-size: 12px;
}

body {
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  margin: 0;
  padding: 0;
  unicode-bidi: embed;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

body {
  overflow-y: scroll;
}

html {
  touch-action: manipulation;
}

:root {
  --accent: hsl(214, 89%, 52%);
  --always-white: #ffffff;
  --badge-background-color-blue: var(--accent);
  --badge-background-color-dark-gray: var(--secondary-icon);
  --badge-background-color-gray: var(--disabled-icon);
  --badge-background-color-green: var(--positive);
  --badge-background-color-light-blue: var(--highlight-bg);
  --badge-background-color-red: var(--notification-badge);
  --badge-background-color-yellow: var(--base-lemon);
  --base-lemon: #f7b928;
  --disabled-button-background: #e4e6eb;
  --disabled-icon: #bcc0c4;
  --focus-ring-blue: #1877f2;
  --highlight-bg: #e7f3ff;
  --inverse-text: var(--always-white);
  --messenger-card-background: #ffffff;
  --mwp-header-background-color: var(--messenger-card-background);
  --mwp-header-button-color: var(--accent);
  --mwp-message-row-background: var(--messenger-card-background);
  --notification-badge: #e41e3f;
  --placeholder-text: #65676b;
  --positive: #31a24c;
  --primary-icon: #050505;
  --secondary-button-background: #e4e6eb;
  --secondary-icon: #65676b;
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-base: 0 1px 2px var(--shadow-2);
  --shadow-emphasis: 0 2px 12px var(--shadow-2);
  --input-border-color-hover: var(--placeholder-text);
  --tooltip-box-shadow: 0 2px 4px 0 var(--shadow-5);
  --chat-outgoing-message-bubble-background-color: var(--accent);
  --radio-border-color: var(--primary-icon);
  --radio-border-color-disabled: var(--disabled-button-background);
  --radio-border-color-selected: var(--accent);
  --radio-checked-icon-color: var(--accent);
  --radio-checked-icon-color-disabled: var(--disabled-button-background);
  --button-height-medium: 36px;
  --card-box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1);
  --menu-item-base-padding-horizontal: 8px;
  --menu-item-base-with-icon-padding-horizontal: var(
    --menu-item-base-padding-horizontal
  );
  --focus-ring-outline-link: 2px auto var(--focus-ring-blue);
  --focus-ring-shadow-default: 0 0 0 2px var(--always-white),
    0 0 0 4px var(--focus-ring-blue);
  --focus-ring-shadow-inset: 0 0 0 2px var(--focus-ring-blue) inset,
    0 0 0 4px var(--always-white) inset;
}

:root {
  --accent: rgb(8, 102, 255);
  --always-white: rgb(255, 255, 255);
  --disabled-button-background: rgb(228, 230, 235);
  --disabled-icon: rgb(188, 192, 196);
  --notification-badge: rgb(228, 30, 63);
  --placeholder-text: rgb(101, 103, 107);
  --positive: rgb(49, 162, 76);
  --primary-icon: rgb(5, 5, 5);
  --secondary-button-background: rgb(228, 230, 235);
  --secondary-icon: rgb(101, 103, 107);
}

:root {
  --x1dflwya: var(--secondary-button-background);
  --xgcszl1: var(--button-height-medium);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

._owx {
  border-bottom: 1px solid #dadde1;
}

._oww {
  color: #606770;
  font-size: 10px;
  height: 16px;
  line-height: 12px;
  text-align: center;
  width: 32px;
}

._61ve li {
  font-family: inherit;
}

._4ki > li {
  border-width: 0 0 0 1px;
  display: inline-block;
}

._509- > li {
  vertical-align: top;
}

._6nw._61ve li {
  font-family: inherit;
}

.uiList > li:first-child {
  border-width: 0;
}

.cheronleft {
  width: 16px;
  height: 16px;
  color: gray;
}

.cancel-btn {
  color: #1c1e21;
  font-size: 14px;
  width: 74px;
  height: 36px;
}

.ss {
}

_3qn7 {
  display: flex;
}

._2fyi {
  flex-direction: row;
}

._61-3 {
  justify-content: space-between;
}

._3qnf {
  align-items: flex-start;
}

._3-8_ {
  margin-right: 4px;
}

._2pic {
  padding-top: 4px;
}

._38_g {
  height: 20px;
}

.x1c4vz4f {
  flex-grow: 0;
}

.x1q0g3np {
  flex-direction: row;
}

.x6s0dn4 {
  align-items: center;
}

.x78zum5 {
  display: flex;
}

.x2lwn1j {
  min-height: 0;
}

.xeuugli {
  min-width: 0;
}

.xozqiw3 {
  flex-wrap: nowrap;
}

.x19lwn94:not([stylex-hack]) > :not(:last-child) {
  margin-right: 8px;
}

.x1n2onr6 {
  position: relative;
}

.x1rg5ohu {
  display: inline-block;
}

.x3oybdh {
  transform: scale(1);
}

.x1iyjqo2 {
  flex-grow: 1;
}

input {
  background-color: #fff;
  color: #1c1e21;
}

input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

.x10l6tqk {
  position: absolute;
}

.x11i5rnm {
  margin-right: 0;
}

.x17qophe {
  left: 0;
}

.x1mh8g0r {
  margin-left: 0;
}

.x1ypdohk {
  cursor: pointer;
}

.x5yr21d {
  height: 100%;
}

.xat24cr {
  margin-bottom: 0;
}

.xdj266r {
  margin-top: 0;
}

.xh8yej3 {
  width: 100%;
}

.x1vjfegm {
  z-index: 1;
}

.x13vifvy {
  top: 0;
}

.x1w3u9th {
  opacity: 0.001;
}

.xjyslct {
  -webkit-appearance: none;
}

.x1t137rt {
  outline-style: none;
}

input {
  font-family: inherit;
}

input {
  font-family: Helvetica, Arial, sans-serif;
}

label {
  color: #606770;
  cursor: default;
  font-weight: 600;
  vertical-align: middle;
}

label {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

label {
  font-family: inherit;
}

label {
  font-family: Helvetica, Arial, sans-serif;
}

.x12go9s9 {
  border-top-right-radius: 999px;
}

.x13fuv20 {
  border-top-style: solid;
}

.x178xt8z {
  border-top-width: 1px;
}

.x1rnf11y {
  border-bottom-right-radius: 999px;
}

.x26u7qi {
  border-left-style: solid;
}

.x4uap5 {
  padding-right: 0;
}

.xkhd6sd {
  padding-left: 0;
}

.xm81vs4 {
  border-right-width: 1px;
}

.xprq8jg {
  border-bottom-left-radius: 999px;
}

.xu3j5b3 {
  border-right-style: solid;
}

.xy80clv {
  border-left-width: 1px;
}

.xzolkzo {
  border-top-left-radius: 999px;
}

.x14qfxbe {
  width: 36px;
}

.x18d9i69 {
  padding-bottom: 0;
}

.x1q0q8m5 {
  border-bottom-style: solid;
}

.xexx8yu {
  padding-top: 0;
}

.xso031l {
  border-bottom-width: 1px;
}

.x13dflua {
  transition-duration: 0.2s;
}

.x15406qy {
  transition-property: background-color;
}

.x10lij0i {
  border-left-color: rgba(203, 210, 217, 1);
}

.x1gzqxud {
  background-color: rgba(255, 255, 255, 1);
}

.xbsr9hj {
  color: rgba(28, 43, 51, 1);
}

.xvyu6v8 {
  border-right-color: rgba(203, 210, 217, 1);
}

.xwebqov {
  border-top-color: rgba(203, 210, 217, 1);
}

.xxziih7 {
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
}

.xrsgblv {
  border-bottom-color: rgba(203, 210, 217, 1);
}

.x10wlt62 {
  overflow-y: hidden;
}

.x1ey2m1c {
  bottom: 0;
}

.x6ikm8r {
  overflow-x: hidden;
}

.x47corl {
  pointer-events: none;
}

.x6o7n8i {
  transition-property: opacity, transform;
}

.xds687c {
  right: 0;
}

.xg01cxk {
  opacity: 0;
}

.x1j6awrg:after {
  position: absolute;
}

.x1s928wv:after {
  content: "";
}

.x14q35kh:after {
  border-top-right-radius: inherit;
}

.x1bs8fl3:after {
  border-left-width: 3px;
}

.x1n7iyjn:after {
  border-bottom-left-radius: inherit;
}

.x1ryaxvv:after {
  right: -1px;
}

.x1t0di37:after {
  border-top-style: inherit;
}

.x1tt7eqi:after {
  border-right-style: inherit;
}

.x1w3onc2:after {
  opacity: 0.2;
}

.x1wa3ocq:after {
  border-bottom-right-radius: inherit;
}

.x8lbu6m:after {
  border-right-width: 3px;
}

.x9obomg:after {
  left: -1px;
}

.xhhp2wi:after {
  border-top-left-radius: inherit;
}

.xmb4j5p:after {
  border-right-color: inherit;
}

.xmn8db3:after {
  border-top-width: 3px;
}

.xnl74ce:after {
  border-top-color: inherit;
}

.xsp6npd:after {
  border-left-style: inherit;
}

.xwmxa91:after {
  border-left-color: inherit;
}

.x1hvfe8t:after {
  top: -1px;
}

.x1te75w5:after {
  bottom: -1px;
}

.x2te4dl:after {
  border-bottom-width: 3px;
}

.xdx8kah:after {
  border-bottom-color: inherit;
}

.xe25xm5:after {
  border-bottom-style: inherit;
}

.xo1l8bm {
  font-weight: 400;
}

.xq9mrsl {
  white-space: inherit;
}

.x1h4wwuj {
  word-wrap: normal;
}

.xmi5d70 {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica,
    Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol !important;
}

.x1fvot60 {
  font-size: 0.875rem !important;
}

.xxio538 {
  line-height: 1.42858 !important;
}

._61ve span {
  font-family: inherit;
}

._6nw._61ve span {
  font-family: inherit;
}

.x1qx5ct2 {
  height: 20px;
}

.xw4jnvo {
  width: 20px;
}

.x12y6twl {
  transform: scale(0.8);
}

.x1h45990 {
  background-color: currentcolor;
}

.x4s1yf2 {
  color: rgba(40, 57, 67, 1);
}

/* These were inline style tags. Uses id+class to override almost everything */
#style-qjCAo.style-qjCAo {
  width: 488px;
}

._1qpp {
  font-weight: bold;
  padding: 6px 12px;
}

._1qpp {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

._61ve li {
  font-family: inherit;
}

._5wr {
  font-size: 10px;
  color: gray;
}

.ss {
  box-shadow: 5px 0 5px -5px rgba(181, 177, 177, 0.5);
  padding: 10px;
}
