/* These were inline style tags. Uses id+class to override almost everything */
#style-Q1mkT.style-Q1mkT {
  padding-top: 0px;
}
#style-9xRzH.style-9xRzH {
  width: 16px;
  height: 16px;
  mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/cX7DKT2CkS9.png?_nc_eui2=AeFQvTqS9XY1vbb3Kg_X-MzOnyzUMinCbu6fLNQyKcJu7iPJmBcK1vFs9OL1Rl2SAPkXhWcl45B-stxfAiy_JcsJ");
  mask-position: -51px -1968px;
}
#style-1aYND.style-1aYND {
  width: 12px;
  height: 12px;
  mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/y2/r/2qdc4_H3cyf.png?_nc_eui2=AeGFp6SFQHRlZl8Kn-izkrKIKQHvfMF0Zi4pAe98wXRmLmFikt8CiA0vEgb6etcPBXoz7pPYPva8qQ1TmKkKnKHs");
  mask-position: -39px -273px;
}
#style-ycmUl.style-ycmUl {
  width: 16px;
  height: 16px;
  mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yG/r/jg3IY981y5G.png?_nc_eui2=AeEsfbErE-2yozaGWEcKEJ3kH6L0MbDkZUYfovQxsORlRn0sloNfh-8hYhmVOxvkDKGQPZUgshq1nV_FugSV-ulD");
  mask-position: 0px -152px;
}
#style-Qg3sA.style-Qg3sA {
  display: none;
  height: 98px;
  right: 0px;
}
#style-WKehQ.style-WKehQ {
  display: block;
  height: 0px;
  right: 0px;
}
#style-opN9C.style-opN9C {
  width: 100%;
}
#style-IrGgn.style-IrGgn {
  width: 100%;
}
#style-c5koq.style-c5koq {
  width: 16px;
  height: 16px;
  mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/Oq4hWev4Svf.png?_nc_eui2=AeG2lyq37GEDcFkRmYkH1ZOJgLXN1b8YjvWAtc3VvxiO9Vp9YLB0z_Z8TqA1KCu79Sz3pgINCUYmJblrXGSmVbuW");
  mask-position: 0px -2165px;
}
#style-w7sUo.style-w7sUo {
  width: 16px;
  height: 16px;
  mask-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yk/r/Oq4hWev4Svf.png?_nc_eui2=AeG2lyq37GEDcFkRmYkH1ZOJgLXN1b8YjvWAtc3VvxiO9Vp9YLB0z_Z8TqA1KCu79Sz3pgINCUYmJblrXGSmVbuW");
  mask-position: 0px -2165px;
}
#style-lMqPS.style-lMqPS {
  display: none;
  height: 198px;
  right: 0px;
}
#style-7IoYr.style-7IoYr {
  display: block;
  height: 0px;
  right: 0px;
}
