/* These were inline style tags. Uses id+class to override almost everything */
#style-b5q9B.style-b5q9B {
  max-height: 292px;
  overscroll-behavior: contain;
}
#style-SbRnq.style-SbRnq {
  margin-right: -17px;
  width: 300px;
}
#style-LZyGR.style-LZyGR {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  font-weight: bold;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-X5qz1.style-X5qz1 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-QnkT7.style-QnkT7 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  font-weight: bold;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-eSzsv.style-eSzsv {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-p8SUB.style-p8SUB {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-nZmLD.style-nZmLD {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/eYzbQUyW0kL.png?_nc_eui2=AeFtSsPo3RGRsRTsJ140JI4B1yLEf60C2-XXIsR_rQLb5aLJKvsKezIQXXbMMl65rwMO2DOxu9VRFyAB_WRjTU8C");
  background-position: -380px -787px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-1mVSh.style-1mVSh {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-knNOa.style-knNOa {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-kb2be.style-kb2be {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-CA1tU.style-CA1tU {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/eYzbQUyW0kL.png?_nc_eui2=AeFtSsPo3RGRsRTsJ140JI4B1yLEf60C2-XXIsR_rQLb5aLJKvsKezIQXXbMMl65rwMO2DOxu9VRFyAB_WRjTU8C");
  background-position: -380px -787px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-MCH2k.style-MCH2k {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-RTq7H.style-RTq7H {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-FHmNd.style-FHmNd {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-JhP3I.style-JhP3I {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-mNLZZ.style-mNLZZ {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/eYzbQUyW0kL.png?_nc_eui2=AeFtSsPo3RGRsRTsJ140JI4B1yLEf60C2-XXIsR_rQLb5aLJKvsKezIQXXbMMl65rwMO2DOxu9VRFyAB_WRjTU8C");
  background-position: -380px -787px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-KXie3.style-KXie3 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-Wj3Nh.style-Wj3Nh {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/eYzbQUyW0kL.png?_nc_eui2=AeFtSsPo3RGRsRTsJ140JI4B1yLEf60C2-XXIsR_rQLb5aLJKvsKezIQXXbMMl65rwMO2DOxu9VRFyAB_WRjTU8C");
  background-position: -380px -787px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-FaiJv.style-FaiJv {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-eO18Q.style-eO18Q {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/eYzbQUyW0kL.png?_nc_eui2=AeFtSsPo3RGRsRTsJ140JI4B1yLEf60C2-XXIsR_rQLb5aLJKvsKezIQXXbMMl65rwMO2DOxu9VRFyAB_WRjTU8C");
  background-position: -380px -787px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-eoyfU.style-eoyfU {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-4edAr.style-4edAr {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/eYzbQUyW0kL.png?_nc_eui2=AeFtSsPo3RGRsRTsJ140JI4B1yLEf60C2-XXIsR_rQLb5aLJKvsKezIQXXbMMl65rwMO2DOxu9VRFyAB_WRjTU8C");
  background-position: -380px -787px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-lGhvO.style-lGhvO {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-bTToU.style-bTToU {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-JdwE7.style-JdwE7 {
  background-image: url("https://static.xx.fbcdn.net/rsrc.php/v3/yb/r/eYzbQUyW0kL.png?_nc_eui2=AeFtSsPo3RGRsRTsJ140JI4B1yLEf60C2-XXIsR_rQLb5aLJKvsKezIQXXbMMl65rwMO2DOxu9VRFyAB_WRjTU8C");
  background-position: -380px -787px;
  background-size: auto;
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  display: inline-block;
}
#style-yZZ39.style-yZZ39 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-yOLIW.style-yOLIW {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-VIPz5.style-VIPz5 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-qVniY.style-qVniY {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-ec6zi.style-ec6zi {
  height: 133.486px;
  top: 0px;
}

.x1ccrb07 {
  border-top-right-radius: 12px;
}

.x1pc53ja {
  border-bottom-left-radius: 12px;
}

.x1q85c4o {
  background-color: #fff;
}

.x9f619 {
  box-sizing: border-box;
}

.xkjj569 {
  box-shadow: 0 4px 8px 1px var(--fds-black-alpha-10),
    0 0 0 1px var(--fds-black-alpha-10);
}

.xtf3nb5 {
  border-bottom-right-radius: 12px;
}

.xyi19xy {
  border-top-left-radius: 12px;
}

.x10wlt62 {
  overflow-y: hidden;
}

.x1gslohp {
  margin-top: 4px;
}

.x1l2rt3b {
  width: 400px;
}

.x6ikm8r {
  overflow-x: hidden;
}

.uiScrollableArea {
  direction: ltr;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.scrollable {
  overflow-y: auto;
}

.uiScrollableAreaWrap {
  height: 100%;
  outline: none;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
}

.uiScrollableArea .uiScrollableAreaWrap {
  overflow-y: scroll;
}

.uiScrollableArea.nofade .uiScrollableAreaWrap {
  margin-right: -30px;
  padding-right: 30px;
}

.uiScrollableAreaTrack {
  bottom: 2px;
  display: block;
  pointer-events: none;
  position: absolute;
  right: 2px;
  top: 2px;
  -webkit-user-select: none;
  width: 7px;
  z-index: 5;
}

.uiScrollableAreaBody {
  direction: ltr;
  position: relative;
}

.uiScrollableArea.nofade .uiScrollableAreaBody {
  padding-right: 10px;
}

.hidden_elem {
  display: none;
}

.hidden_elem {
  display: none !important;
}

.uiScrollableAreaGripper {
  background-clip: content-box;
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(85, 85, 85, 0.6);
  border-radius: 7px;
  position: absolute;
  right: 0;
  transition: width 250ms;
  width: 5px;
}

.uiScrollableAreaTrack:hover .uiScrollableAreaGripper {
  width: 8px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

/* These were inline style tags. Uses id+class to override almost everything */
#style-BoBdK.style-BoBdK {
  max-height: 292px;
  overscroll-behavior: contain;
}
#style-SklWG.style-SklWG {
  margin-right: -17px;
  width: 400px;
}
#style-OxCn5.style-OxCn5 {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  font-weight: bold;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-Xrxrz.style-Xrxrz {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-dv6CF.style-dv6CF {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(141, 148, 158);
}
#style-5qWlG.style-5qWlG {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-NnS2t.style-NnS2t {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-2hpoG.style-2hpoG {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(141, 148, 158);
}
#style-QWPHd.style-QWPHd {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-FUgjA.style-FUgjA {
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-jpTvn.style-jpTvn {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(141, 148, 158);
}
#style-GTwJt.style-GTwJt {
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 17px;
  letter-spacing: normal;
  overflow-wrap: normal;
  text-align: left;
  color: rgb(28, 30, 33);
}
#style-d87Eq.style-d87Eq {
  height: 116.155px;
  top: 0px;
}
